body {
    background-color: white;
}

h4 {
    margin-top: 15%;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    
}

p {
    margin-left: auto;
    margin-right: auto;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    
}

a {
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    color: black;
}

a:hover{
    color: orangered;
}

.bit {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 24%;
    color: rgba(128, 128, 128, 0.205);
}
